<div class="home mt-2">
    <section class="banner banner-section" data-scroll-index='0'>
        <div class="container-fluid p-0">
            <div class="banners-home banner-desk">
                <% for (let i=0; i < banners.length; i++) { %>
                    <div class="banner-item">
                        <a href="<%= banners[i].url %>" target="_blank">
                            <img src="image/<%= banners[i].image %>" class="img-fluid" alt="<%= banners[i].title %>"
                                style="width: 100%; height: 100%; object-fit: cover;">
                        </a>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>

    <%- include('../components/card') %>
        <%- include('../components/coletas') %>
            <%- include('../components/planos') %>
                <%- include('../components/exames', { exames: exames }) %>
                    <section class="section-duvidas" data-scroll-index='6'>
                        <div class="container">
                            <div class="row duvidas-centralizar">
                                <div class="col-md-4 col-lg-4 col-sm-12 duvidas-bloco1">
                                    <div class="col-12 titulo-duvida">
                                        <h2>Ficou com alguma dúvida?</h2>
                                    </div>
                                    <div class="col-12  subtitulo-duvida">
                                        <p>Confira as perguntas mais frequentes</p>
                                    </div>
                                </div>
                                <div class="offset-md-1 col-md-7 col-lg-7 col-sm-12 duvidas-bloco2 ">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button  " type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="true" aria-controls="flush-collapseOne">
                                                    1. É necessário jejum para realizar exames?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">Para a grande maioria dos exames, o jejum
                                                    não é
                                                    obrigatório.
                                                    No entanto, é aconselhável um jejum de 2 a 4 horas para evitar
                                                    interferências nos
                                                    resultados. Para alguns exames, como triglicerídeos, glicose e
                                                    colesterol, é
                                                    indicado um jejum prolongado de, no mínimo, 12 horas e, no máximo,
                                                    14
                                                    horas, ou
                                                    conforme recomendação médica.
                                                    Consulte a necessidade de jejum através do nosso WhatsApp.</div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                    aria-expanded="false" aria-controls="flush-collapseTwo">
                                                    2. As coletas podem ser feitas apenas pela manhã?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingTwo"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">Não, desde que o tempo de jejum esteja
                                                    adequado,
                                                    os exames
                                                    podem ser realizados em qualquer horário. Com exceção dos exames
                                                    hormonais ou
                                                    específicos que devem ser coletados em horários estabelecidos ou
                                                    orientados pelos
                                                    médicos, como o ferro e o cortisol, que devem ser coletados entre as
                                                    8h
                                                    e 9h da
                                                    manhã.</div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                    aria-expanded="false" aria-controls="flush-collapseThree">
                                                    3. Como devo fazer para agendar uma coleta a domicílio?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingThree"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">O paciente, familiar ou responsável pode se
                                                    dirigir a uma de
                                                    nossas unidades para fazer o cadastro do paciente e dos exames que
                                                    irá
                                                    realizar,
                                                    assim como realizar o pagamento da taxa de coleta a domicílio. Outra
                                                    opção é fazer o
                                                    cadastro diretamente pelo WhatsApp, informando alguns dados na hora
                                                    do
                                                    atendimento.
                                                    Vale ressaltar que não realizamos coleta domiciliar em crianças
                                                    menores
                                                    de 12 anos.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                                    aria-expanded="false" aria-controls="flush-collapseFour">
                                                    4. Menores de 18 anos podem fazer exames desacompanhados?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFour"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">Não, para a realização de exames é exigida a
                                                    presença de um
                                                    acompanhante maior de 18 anos. Caso contrário, é necessário
                                                    apresentar
                                                    um
                                                    responsável legal ou uma procuração.</div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFive">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                                                    aria-expanded="false" aria-controls="flush-collapseFive">
                                                    5. Como faço para realizar os exames toxicológicos?
                                                </button>
                                            </h2>
                                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingFive"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">É necessário trazer apenas a CNH. Para este
                                                    exame, não
                                                    aceitamos cartão de débito, PIX ou dinheiro. A coleta deve ser
                                                    realizada
                                                    de segunda
                                                    a sexta-feira até às 17h e sábado até às 11h. Não é necessário
                                                    agendamento prévio.
                                                    Caso tenha mais alguma dúvida em relação ao exame, entre em contato
                                                    pelo
                                                    nosso
                                                    WhatsApp.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
</div>